/* Sets font of entire body to Lato */
body {
    font-family: 'Lato', sans-serif;
}

/* Allows h2 headers to be dark-blue */
h2#heading {
    color: #00008B;
    margin: 2px 2px 2px 2px;
}

/* Underlines all section texts */
h2 {
    text-decoration: underline;  
    text-align: center;
}

/* Makes paragraphs white */
p {
    color: rgb(255,255,255);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Allows for any piece of text to be highlighted */
.highlight {
    background-color: yellow;
}

/* Adds border around profile picture */
.profile {
    border-style: double;
    border-color: #000;
    border-width: 5px;
    border-radius: 2px;
    background-color: rgba(0,181,204,1);
    padding: 2px 2px 2px 2px;
}

/* Add a box model for the video visual */
.visual {
    margin: auto;
    padding-top: 1ch;
    padding-left: 3ch;
    padding-right: 3ch;
    padding-bottom: 1ch;
    background-color: hsla(0,0%,0%,0.9);
    height: 4cm;
    weight: 4cm;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        background-color: white;
    }
}
