/* Set entire background to tan */
* {
    background-color: hsl(34,44%,68%);
}

/* Sets font of entire body to Lato */
body {
    font-family: 'Lato', sans-serif;
}

/* Allows h2 headers to be dark-blue */
h2#heading {
    color: #00008B;
}

/* Underlines all section texts */
h2 {
    text-decoration: underline;  
    text-align: center;
}

/* Makes paragraphs white */
p {
    color: rgb(255,255,255);
}

/* Allows for any piece of text to be highlighted */
.highlight {
    background-color: yellow;
}

/* Adds border around profile picture */
.profile {
    border-style: double;
    border-color: black;
    border-width: 5px;
    border-radius: 2px;
}

/* Add a box model for the video visual */
.visual {
    margin: auto;
    padding-top: 1ch;
    padding-left: 3ch;
    padding-right: 3ch;
    padding-bottom: 1ch;
    background-color: black;
    height: 2cm;
    weight: 4cm;
}
