/* Changes entire background to gray */
* {
    background-color: hsl(0, 0%, 71%);
}

/* Allows h2 headers to be dark-blue */
h2#heading {
    color: #00008B;
    margin: 2ex 1em 1em 2ex;
}

/* Changes links to have a pink background */
a[href*="https"] { 
    background-color: green; 
}

/* Underlines all section texts */
h2 {
    text-decoration: underline;  
    text-align: center;
}

/* Makes paragraphs white */
p {
    color: rgb(255,255,255);
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-left: 2pt;
    margin-right: 2pt;
}

p::first-line {
    font-weight: bold;
    font-size: 110%
    display: inline;
}

/* Allows for any piece of text to be highlighted */
.highlight, .hl {
    background-color: yellow;
}

/* Adds border around profile picture */
.profile {
    border-style: double;
    border-color: #000;
    border-width: 3mm;
    border-radius: 2px;
    background-color: rgba(0,181,204,1);
}

/* Add a box model for the video visual */
.visual {
    margin: auto;
    padding-top: 1ch;
    padding-left: 3ch;
    padding-right: 3ch;
    padding-bottom: 1ch;
    background-color: hsla(0,0%,0%,0.9);
    height: 4cm;
    weight: 4cm;
}

/* adds display property to button */
.button {
    display: block;   
}

/* Media Query */
@media only screen and (max-width: 1000px) and (min-width: 200px) {
    * {
        background-color: coral;
    }
}

/* Pseudo-classes */
.link:hover {
  color: orange;
}
.link:active {
  color: pink;
}

/* Descendant Combinator */
ul li {
    color: darkblue;
}

/* Child Combinator */
span {
    background-color: gray;
}
p > span {
    background-color: coral;
}

/* General Sibling Combinator */
ol ~ li {
    font-size: 150%;
    padding: 2px 2px 2px 2px;
}

/* Adjacent Sibling Combinator */
summary + p {
    font-weight: bold;
    font-size: 120%;
}

/* Combining Selectors */
header > h3 { 
    background-color: lightblue; 
}

/* FlexBox */
.container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    background-color: black;
    width: 100px;
    margin: 10px;
    text-align: center
}

.gridbox {
    text-align: center;
    background-color: lightblue;
    border: 5px black solid;
}

/* Grid */
.frame {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: auto auto auto;
}
